@import './variables';

.sidebar{
    width: 230px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: $shadow;
    overflow: auto;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
  }
.sidebar::-webkit-scrollbar-track {
    background: rgb(238, 238, 238); 
}

.filter-title{
    background-color: #007bff;
    width: 100%;
    margin-top: 15px;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    color: white;

}
.MuiFormControlLabel-root {
    margin-left: 0px !important;
}
.MuiPaper-root.MuiCard-root.makeStyles-root-8.MuiPaper-elevation1.MuiPaper-rounded{
    margin: 10px;
}