@import './variables';

.Navbar{
    background-color: $white !important;
}
a.NavItems{
    color: $black;
}
.Appbar span{
    color: $theme-c1 !important;
}
.NavItems::after{
    background-color: $theme-c1 !important;
}
.Appbar{
    background-color: $white !important;
}
.NavItems:after {
    bottom: -11.5px !important;
}
@media only screen and (max-width: 700px){
    .selected{
        background-color: $theme-c1 !important;
    }
    a.NavItems.selected{
        color: $white;
    }
}