input.search {
    position: relative;
    margin-top: 70px;
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
}
svg.MuiSvgIcon-root {
    vertical-align: middle;
    cursor: pointer;
}