@import './variables';

img.card-img-top {
    margin: auto;
    width: 70px;
    margin-top: 20px;
    height: 70px;
}
.card {
    width: auto !important;
    margin: 20px;
    border-radius: 0px !important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.btn-primary {
    font-size: 10px !important;
}
.card-body {
    flex: inherit !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}