@import './nav';
@import './drower';
@import './search';
@import './software';

.carousel-indicators {
    bottom: -20px !important;
}
.appsbody {
    z-index: -100000000;
    padding-left: 230px;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    top: 55px;
}
.appsbody > h3 {
    background-color: $theme-c1;
    color: white;
    padding: 5px;
    box-shadow: $shadow;
    margin-top: 20px;
    padding-left: 20px;
}
.MuiRadio-colorSecondary.Mui-checked {
    color: $theme-c1 !important;
}
.appsbox{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(200px,1fr))
}
.copytoclip{
    display: flex;
    h6{
        background-color: #1d1d8e;
        color: white;
        width: 100%;
        padding: 10px;
        font-family: monospace;
        
    }
    h6::before{
            content: "$";
            margin-right: 10px;
        }
    svg.MuiSvgIcon-root {
        cursor: pointer;
        background-color: darkgray;
        height: 35px;
        width: 30px;
        padding: 5px;
        color: white;
    }
}
.modal-content{
    margin-top: 30px;
}